.select__page__container {
  height: 100%;
  margin-left: 1em;
}


.select__page {
  height: 100%;
  border: none;
  width: auto;
  box-shadow: #00000080 1px 2px 3px 1px;
}

@media (max-width:768px) {

  .select__page__container {
    height: 100%;
    margin-left: 0;
  }

}